@import url(#);
*{
    font-family: #; 
    font-weight: 500;     
    color: : black; 
    box-sizing: border-box;
    }
#container{
    display: grid;
    border-style: none;
    width: 85vw;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 1/3fr;
    grid-template-areas: "header" "main";
    background-color: white;
    margin: 10vh auto;
    padding: 0;    
    }
#header{
    grid-area: header;
    border-style: none;
    background-color: white;
    background-clip: padding-box;
    }
#main{
    grid-area: main;
    position: relative;
    border: solid thin black;
    background-color: white;
    background-clip: padding-box;
    }
.logo{
    display: inline-block;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: auto;
    }
.top menu{
    display: inline-block;
    list-style: none;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-right: 2.5vw;
    margin-bottom: 0;
    margin-left: 2.5vw;
    padding: auto;
    }
li:first-child{
    margin-left: 15vw;
    }
li:last-child{
    margin-right: 0;
    }
.title{
    display: inline-block;
    border-style: none;
    text-align: center;
    text-decoration: underline;
    width: auto;
    height: auto;
    margin-top: 2.5vh;
    padding: 0;
    }
.date{
    display: inline-block;
    border-style: none;
    text-decoration: underline;
    width: auto;
    height: auto;
    margin-top: 5vh;
    margin-right: 10vw;
    padding: 0;
    }
.reading area{
    border-style: none;
    width: 75vw;
    height: 30vh;
    margin: 7.5vh auto 5vh;
    padding: 0;
    }
.end{
    display: inline-block;
    border-style: none;
    width: auto;
    height: auto;
    margin: 5vh auto;
    padding: 0;
    }
.end button{
    display: inline-block;
    list-style: none;
    border: solid thin black;
    width: auto;
    height: auto;
    padding: auto;
    }
li:first-child{
    margin-left: 0;
    }
li:last-child{
    margin-right: 0;
    }
