@import url(#);
*{
    font-family: #; 
    font-weight: 500;     
    color: : black; 
    box-sizing: border-box;
    }
#container{
    display: grid;
    border-style: none;
    width: 85vw;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 1/3fr;
    grid-template-areas: "header" "main";
    background-color: white;
    margin: 10vh auto;
    padding: 0;    
    }
#header{
    grid-area: header;
    border-style: none;
    background-color: white;
    background-clip: padding-box;
    }
#main{
    grid-area: main;
    position: relative;
    border: solid thin black;
    background-color: white;
    background-clip: padding-box;
    }
.logo{
    display: inline-block;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: auto;
    }
.top menu{
    display: inline-block;
    list-style: none;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-right: 2.5vw;
    margin-bottom: 0;
    margin-left: 2.5vw;
    padding: auto;
    }
li:first-child{
    margin-left: 15vw;
    }
li:last-child{
    margin-right: 0;
    }
.privacy{
    background-color: #;
    background-clip: padding-box;
    }
.private data{
    display: inline-block;
    position: relative;
    width: auto;
    height:auto;
    margin-left: 20vw;
    }
table{
    display: inline-block;
    border: none;
    border-collapse: collapse;
    width: auto;
    height: auto;
    }
td{
    border: solid thin #;
    border-spacing: 0 2.5vh;
    text-align: center;
    }
col:nth-child(1){
    border-style: solid solid solid none;
    width: 25%;
    }
col:nth-child(2){
    border-style: solid none solid solid;
    width: 75%;
    }
.revise{
    display: inline-block;
    width: auto;
    height: auto;
    margin: # auto;
    padding: #;
    }
.revise button{
    display: inline-block;
    list-style: none;
    border: solid thin #;
    width: auto;
    height: auto;
    padding: #;
    }
li:first-child{
    margin-left: 0;
    }
li:last-child{
    margin-right: 0;
    }
.explanation{
    display: inline-block;
    position: absolute;
    top: #;
    right: #;
    width: auto;
    height: auto;
    padding: #;
    }
.etc{
    display: inline-block;
    position: absolute;
    right: #;
    bottom: #;
    width: auto;
    height: auto;
    padding: #;
    }
