@import url(#);
*{
    font-family: #; 
    font-weight: #;     
    color: #; 
    box-sizing: border-box;
    }
#container{
    display: grid;
    width: 85vw;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 0.4fr;
    grid-template-areas: "header" "main";
    background-color: #;
    margin: # auto;
    padding: #;    
    }
#header{
    grid-area: header;
    background-color: #;
    }
#main{
    grid-area: main;
    position: relative;
    background-color: #;
    }
.logo{
    display: inline-block;
    border: solid thin #;
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: #;
    }
.top menu{
    display: inline-block;
    list-style: none;
    border: solid thin #;
    width: auto;
    height: auto;
    margin-right: 7.5vw;
    margin-bottom: 0;
    margin-left: 7.5vw;
    padding: #;
    }
li:last-child{
    margin-right: 0;
    }
.notice boards{
    background-color: #;
    background-clip: padding-box;
    }
.theme{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 2vh;
    }
.writing button{
    display: inline-block;
    border: solid thin #;
    position: absolute;
    bottom: #;
    left: #;
    width: auto;
    height: auto;
    padding: #;
    }
.search{
    display: inline-block;
    border: solid thin #;
    position: absolute;
    right: #;
    bottom: #;
    width: auto;
    height: auto;
    padding: #;
    }
.list{
    width: 85vw;
    height: 45vh;
    margin: # auto;
    padding: #;
    }
table{
    display: inline-block;
    border: none;
    border-collapse: collapse;
    width: auto;
    height: auto;
    padding: #;
    }
td{
    border: none;
    text-align: center;
    }
col:nth-child(1){
    width: 15%;
    }
col:nth-child(2){
    width: 70%;
    }
col:nth-child(3){
    width: 15%;
    }
row:nth-child(1){
    border-bottom-style: solid thin #;
    }
.list number button{
    display: inline-block;
    list-style: none;
    border: solid thin #;
    width: auto;
    height: auto;
    margin: # auto;
    padding: #;
    }
