@import url(#);
*{
    font-family: #; 
    font-weight: #;     
    color: #; 
    box-sizing: border-box;
    }
#container{
    display: grid;
    height: 100;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 0.2fr;
    grid-template-areas: "header" "main";
    background-color: #;
    margin: # auto;
    padding: #;    
    }
#header{
    grid-area: header;
    background-color: #;
    }
#main{
    grid-area: main;
    position: relative;
    background-color: #;
    }
.logo{
    display: inline-block;
    border: solid thin #;
    width: #;
    height: #;
    margin: #;
    padding: #;
    }
.top menu{
    display: inline-block;
    list-style: none;
    border: solid thin #;
    width: #;
    height: #;
    margin: #;
    padding: #;
    }
.reading{
    background-color: #;
    background-clip: padding-box;
    }
.name{
    position: relative;
    text-decoration: underline;
    margin: # auto;
    padding: #;
    }
.date{
    display: inline-block;
    text-decoration: underline;
    position: absolute;
    top: #;
    right: #;
    bottom: #;
    left: #;
    width: #;
    height:#;
    margin: #;
    padding: #;
    }
.reading area{
    margin: # auto;
    padding: #;
    }
.end{
    width: #;
    height:#;
    margin: # auto;
    padding: #;
    }
.end button{
    display: inline-block;
    list-style: none;
    border: solid thin #;
    width: #;
    height: #;
    margin: #;
    padding: #;
    }