@import url(#);
*{
    font-family: #; 
    font-weight: #;     
    color: #; 
    box-sizing: border-box;
    }
#container{
    display: grid;
    width: 85vw;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 0.4fr;
    grid-template-areas: "header" "main";
    background-color: #;
    margin: # auto;
    padding: #;    
    }
#header{
    grid-area: header;
    background-color: #;
    }
#main{
    grid-area: main;
    position: relative;
    background-color: #;
    }
.logo{
    display: inline-block;
    border: solid thin #;
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: #;
    }
.top menu{
    display: inline-block;
    list-style: none;
    border: solid thin #;
    width: auto;
    height: auto;
    margin-right: 7.5vw;
    margin-bottom: 0;
    margin-left: 7.5vw;
    padding: #;
    }
li:last-child{
    margin-right: 0;
    }
.writing{
    background-color: #;
    background-clip: padding-box;
    }
.setting{
    width: 65vw;
    height: 20vh;
    margin: 2vh auto;
    padding: #;
    }
.option button{
    display: inline-block;
    list-style: none;
    border: solid thin #;
    width: auto;
    height: auto;
    margin: 2vh auto;
    padding: #;
    }
.writing area{
    border: solid thin #;
    width: 65vw;
    height: 50vh;
    margin: # auto;
    padding: #;
    }
