@import url(#);
*{
    font-family: #; 
    font-weight: 500;     
    color: : black; 
    box-sizing: border-box;
    }
#container{
    display: grid;
    border-style: none;
    width: 85vw;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 1/3fr;
    grid-template-areas: "header" "main";
    background-color: white;
    margin: 10vh auto;
    padding: 0;    
    }
#header{
    grid-area: header;
    border-style: none;
    background-color: white;
    background-clip: padding-box;
    }
#main{
    grid-area: main;
    position: relative;
    border: solid thin black;
    background-color: white;
    background-clip: padding-box;
    }
.logo{
    display: inline-block;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: auto;
    }
.top-menu{
    display: inline-block;
    list-style: none;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-right: 2.5vw;
    margin-bottom: 0;
    margin-left: 2.5vw;
    padding: auto;
    }
li:first-child{
    margin-left: 15vw;
    }
li:last-child{
    margin-right: 0;
    }
.theme{
    border-style: none;
    text-align: center;
    margin-top: 2.5vh;
    padding: 0;
    }
.writing-button{
    display: inline-block;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-left: 10vw;
    padding: auto;
    }
.search{
    display: inline-block;
    border: solid thin black;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-right: 5vw;
    padding: auto;
    }
.list{
    border-style: none;
    width: 75vw;
    height: 42.5vh;
    margin: 2.5 auto;
    padding: 0;
    }
table{
    display: inline-block;
    border-style: none;
    border-collapse: collapse;
    width: auto;
    height: auto;
    }
td{
    border: none;
    text-align: center;
    padding: auto;
    }
col:nth-child(1){
    width: 15%;
    }
col:nth-child(2){
    width: 65%;
    }
col:nth-child(3){
    width: 20%;
    }
row:nth-child(1){
    border-bottom-style: solid thin black;
    }
.chapter{
    display: inline-block;
    border-style: none;
    width: auto;
    height: auto;
    margin: # auto;
    padding: 0;
    }
.list-number-button{
    display: inline-block;
    list-style: none;
    border: solid thin black;
    width: auto;
    height: auto;
    margin: 0 1vw;
    padding: auto;
    }
li:first-child{
    margin-left: 0;
    }
li:last-child{
    margin-right: 0;
    }
